In [1]:
import pytest
#ipytest.autoconfig()

In [17]:
import math

def test_sqrt():
   num = 25
   assert math.sqrt(num) == 5

def testsquare():
   num = 7
   assert 7*7 == 40

def tesequality():
   assert 10 == 11

In [2]:
test_sqrt()

In [13]:
testsquare()

AssertionError:

In [18]:
tesequality()

AssertionError:

In [1]:
# equal to
import pytest

In [12]:
def test_compare():
    value=10
    assert 10==value

In [13]:
test_compare()

In [24]:
def test_greater():
   num = 100
   assert num > 100

def test_greater_equal():
   num = 100
   assert num >= 100

def test_less():
   num = 100
   assert num < 200

In [25]:
test_greater()

AssertionError:

In [26]:
test_greater_equal()

In [27]:
test_less()

In [3]:
age = 36
txt = "My name is John, and I am {}"
print(txt.format(age))

My name is John, and I am 36

In [26]:
def func(x):
    return x + 1


def test_answer():
    assert func(3)==5

In [27]:
func(5)

6

In [28]:
test_answer()

AssertionError:

In [26]:
import pytest
@pytest.mark.great
def test_greater():
   num = 100
   assert num > 100

@pytest.mark.great
def test_greater_equal():
   num = 100
   assert num >= 100

@pytest.mark.other
def test_less():
   num = 100
   assert num < 200

In [21]:
test_greater()

AssertionError:

In [22]:
test_greater_equal()

In [24]:
test_less()

In [22]:
def hello(name):
    return f"Hello,{(name)}!"

In [23]:
hello("nagadurga")

'Hello,nagadurga!'

In [2]:
import numpy as np
import pandas as pd

# case 1: non-sorted uniformly sampled timeseries with 2 holes
case1 = pd.DataFrame({"datetime": pd.date_range(start='20/1/99', periods=25, 
                                                freq='-1d', tz='UTC'),
                      "data1": np.arange(0, 25),
                      "data2": np.arange(1, 26),
                      "data3": np.arange(1, 26)})
case1.drop([6, 17,5], inplace=True)

In [3]:
case1

                    datetime  data1  data2  data3
0  1999-01-20 00:00:00+00:00      0      1      1
1  1999-01-19 00:00:00+00:00      1      2      2
2  1999-01-18 00:00:00+00:00      2      3      3
3  1999-01-17 00:00:00+00:00      3      4      4
4  1999-01-16 00:00:00+00:00      4      5      5
7  1999-01-13 00:00:00+00:00      7      8      8
8  1999-01-12 00:00:00+00:00      8      9      9
9  1999-01-11 00:00:00+00:00      9     10     10
10 1999-01-10 00:00:00+00:00     10     11     11
11 1999-01-09 00:00:00+00:00     11     12     12
12 1999-01-08 00:00:00+00:00     12     13     13
13 1999-01-07 00:00:00+00:00     13     14     14
14 1999-01-06 00:00:00+00:00     14     15     15
15 1999-01-05 00:00:00+00:00     15     16     16
16 1999-01-04 00:00:00+00:00     16     17     17
18 1999-01-02 00:00:00+00:00     18     19     19
19 1999-01-01 00:00:00+00:00     19     20     20
20 1998-12-31 00:00:00+00:00     20     21     21
21 1998-12-30 00:00:00+00:00     21     22     22
22 1998-12-29 00:00:00+00:00     22     23     23
23 1998-12-28 00:00:00+00:00     23     24     24
24 1998-12-27 00:00:00+00:00     24     25     25

In [4]:
def case_two_positive_ints():
    """ Inputs are two positive integers """
    return -1, -2

def case_two_negative_ints():
    """ Inputs are two negative integers """
    return -1, -2

In [5]:
case_two_positive_ints()

(-1, -2)

In [27]:
name="nagadurga"

In [26]:
print("hello",name,"!")

hello nagadurga !

In [28]:
name="nagadurga"
name2="sravani"

In [33]:
print(name+" "+name2)

nagadurga sravani

In [10]:
from flask import Flask

In [16]:
from markupsafe import escape
app = Flask(__name__)
@app.route("/<name>")
def hello(name):
    return f"Hello,{escape(name)}!"

In [17]:
hello("durga")

'Hello,durga!'